@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;800&display=swap');

*{
    
    margin: 0px;
    padding: 0px;
    font-family:'Chivo Mono', monospace; ;
}
body{
    background-image: url('https://rare-gallery.com/mocahbig/80256-clash-of-clans-2021-games-games-hd-4k-5k-artstation.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-attachment:fixed;
    background-position: center top;
}
header{
    background-color: rgb(37, 37, 37);
    padding: 50px;
    
}
header  h1{
    color: rgb(252, 252, 252);
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
nav{
    background-color: rgb(37, 37, 37);
    padding: 15px;
    box-shadow: 0px 2px 3px black;
}

nav a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(61, 61, 61);
    border-radius: 20px;
    padding: 15px;
    transition-duration: .3s;
}
nav a:hover{
    background-color:rgb(20, 20, 20);
    
}
main{
    padding: 20px;
    text-align: justify;
    box-shadow: -0.3px 1px 2px 1px rgba(0, 0, 0, 0.37);
    background-color: aliceblue;
    margin:auto;
    min-width: 320px;
    max-width: 1400px;
    text-indent: 20px;
    line-height: 2;
}
main h1{
    background-image: linear-gradient(to right, rgb(255, 82, 82), transparent);
    border-radius: 30px;
    font-size: 32px;
}
main p {
    font-size:21px;
}
main a{
    background-color: rgba(0, 0, 0, 0.377);
    padding: 4px;
    color:black;
    font-weight: bold;
    text-decoration: none;
}
main a::after{
    
    content:'\1F517';
}
main strong{

}
main strong.data{
    text-decoration:underline;
}
